  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    background-image: url(http://getwallpapers.com/wallpaper/full/1/9/3/861434-top-anime-background-1920x1080-xiaomi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:  #000000;
    font-family: 'Fascinate', cursive;
  }
  .bg{
     background-image: url(https://wallpaperaccess.com/full/933175.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
  p{
    font-size: 50px;
    
    text-align: center;
    
  }
  input {    
  background-color: rgba(0, 0, 0, 0.267);

}
.info {
position: absolute;
 text-align:left;
 margin-top:0%;

}
