@import url('https://fonts.googleapis.com/css2?family=Fruktur&family=Open+Sans:ital,wght@0,700;1,400&display=swap');
@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(fonts/Fascinate-Regular.ttf); /* Путь к файлу со шрифтом */
   } 
  div{
    position: fixed;
    left: 20px;
    bottom: 25px;
    font-size: 25px;
    font-weight: 500;
  }

  a{
      padding: 5px;
  }
  
  a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  a:hover {
    color:rgb(40, 86, 172);
    text-decoration: none;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
    background-image: url(http://getwallpapers.com/wallpaper/full/1/9/3/861434-top-anime-background-1920x1080-xiaomi.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:  #000009;
    font-family: 'Fascinate', cursive;
  }
  p{
    font-size: 50px;
    
    text-align: center;
    
  }
input {
  background-color: rgba(0, 0, 0, 0.377);
}

    color:  #000009;
    font-family: 'Fascinate', cursive;
  }
  p{
    font-size: 50px;
    
    text-align: center;
    
  }
